<div class="surface-card shadow-1 border-round-xl p-2">
  <p-dataView [loading]="loading"
              [value]="products"
              emptyMessage="Nenhum produto encontrado."
              layout="grid">
    <ng-template pTemplate="header">
      <div class="flex justify-content-between">
        <p-multiSelect [(ngModel)]="selectedCategories"
                       [options]="categories"
                       emptyFilterMessage="Vazio"
                       emptyMessage="Vazio"
                       placeholder="Selecionar Categorias"
                       selectedItemsLabel="{totalRecods} Categorias Selecionadas"/>
        <p-dataViewLayoutOptions/>
      </div>
    </ng-template>

    <ng-template let-products pTemplate="grid">
      <app-catalog-grid (onAdd)="addToCart($event)"
                        [products]="products"/>
    </ng-template>

    <ng-template let-products pTemplate="list">
      <app-catalog-list (onAdd)="addToCart($event)"
                        [products]="products"/>
    </ng-template>
  </p-dataView>
</div>
