<app-loader/>
<app-navbar #navbar/>
<app-sidebar #sidebar/>

<div [ngClass]="{'sidebar-padding': sidebar.visible}" class="h-full w-12 sm:w-11 xxl:w-9 m-auto">
  <div *ngIf="navbar.visible()" class="h-7rem"></div>
  <app-breadcrumb/>
  <router-outlet/>
  <div *ngIf="navbar.visible()" class="h-3rem"></div>
</div>

<p-toast [preventOpenDuplicates]="true"
         position="bottom-center"/>
<p-confirmDialog [closable]="false"
                 acceptButtonStyleClass="p-button-text"
                 acceptLabel="Sim"
                 rejectButtonStyleClass="p-button-text"
                 rejectLabel="Não"/>
