<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <p-card>
    <p-header class="ec-card-header">
      <div class="flex align-items-center">
        <span>Usuário</span>
        <div *ngIf="USER_TYPE.MANAGER === form.get('type')?.value">
          &nbsp;
          <p-tag [value]="'#' + form.get('type')?.value"/>
        </div>
      </div>
    </p-header>

    <ec-header-actions>
      <div ecTemplate="left">
        <p-button [text]="true"
                  icon="pi pi-arrow-left"
                  routerLink="/catalog"/>
      </div>
      <div ecTemplate="right">
        <p-button [text]="true"
                  icon="pi pi-save"
                  type="submit"/>
      </div>
    </ec-header-actions>

    <ec-field inputId="name" label="Nome">
      <input formControlName="name"
             id="name"
             maxlength="150"
             pInputText
             type="text"/>
    </ec-field>
    <ec-field inputId="email" label="Email">
      <input formControlName="email"
             id="email"
             maxlength="250"
             pInputText
             type="text"/>
    </ec-field>
    <ec-field inputId="phone" label="Telefone">
      <p-inputNumber [useGrouping]="false"
                     formControlName="phone"
                     inputId="phone"
                     maxlength="11"
                     styleClass="w-full"/>
    </ec-field>
  </p-card>

  <div class="h-2rem"></div>

  <p-card formGroupName="address" header="Endereço">
    <ec-field inputId="zipcode" label="Cep">
      <input formControlName="zipcode"
             id="zipcode"
             maxlength="25"
             pInputText
             type="text"/>
    </ec-field>
    <ec-field inputId="street" label="Rua">
      <input formControlName="street"
             id="street"
             maxlength="150"
             pInputText
             type="text"/>
    </ec-field>
    <ec-field inputId="number" label="Número">
      <p-inputNumber [useGrouping]="false"
                     formControlName="number"
                     inputId="number"
                     maxlength="25"
                     styleClass="w-full"/>
    </ec-field>
    <ec-field inputId="city" label="Cidade">
      <input formControlName="city"
             id="city"
             maxlength="150"
             pInputText
             type="text"/>
    </ec-field>
  </p-card>
</form>
