<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <p-card [header]="'Produto ' + (getId() ? '#' + getId() : '')">
    <ec-header-actions>
      <div ecTemplate="left">
        <p-button [text]="true"
                  icon="pi pi-arrow-left"
                  routerLink="/management/product"/>
      </div>
      <div ecTemplate="right">
        <p-button (onClick)="reset()"
                  [text]="true"
                  icon="pi pi-plus"/>
        <p-button [text]="true"
                  icon="pi pi-save"
                  type="submit"/>
      </div>
    </ec-header-actions>

    <ec-field inputId="title" label="Título">
      <input formControlName="title"
             id="title"
             maxlength="250"
             pInputText
             type="text"/>
    </ec-field>
    <ec-field inputId="description" label="Descrição">
      <textarea cols="30"
                formControlName="description"
                id="description"
                maxlength="750"
                pInputTextarea
                rows="3"></textarea>
    </ec-field>
    <ec-field inputId="price" label="Preço">
      <p-inputNumber [maxFractionDigits]="2"
                     [minFractionDigits]="2"
                     [min]="0"
                     formControlName="price"
                     inputId="price"
                     maxlength="25"
                     mode="decimal"
                     prefix="R$ "
                     styleClass="w-full"/>
    </ec-field>
    <ec-field inputId="category" label="Categoria">
      <p-dropdown (onShow)="findAllCategories()"
                  [editable]="true"
                  [options]="categories"
                  emptyMessage="Vazio"
                  formControlName="category"
                  inputId="category"
                  maxlength="100"
                  styleClass="w-full"/>
    </ec-field>
    <ec-field inputId="image" label="Imagem">
      <input formControlName="image"
             id="image"
             maxlength="250"
             pInputText
             type="text"/>
      <p-image *ngIf="form.get('image')?.value"
               [preview]="true"
               [src]="form.get('image')?.value"
               alt="Image"
               width="250"/>
    </ec-field>
  </p-card>
</form>
