<p-card header="Produtos">
  <div class="flex">
    <div class="col-6 text-left p-0">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search"/>
        <input pInputText placeholder="Pesquisar" type="text"/>
      </p-iconField>
    </div>
    <div class="col-6 text-right p-0">
      <p-button [text]="true"
                icon="pi pi-plus"
                routerLink="/management/product/new"/>
    </div>
  </div>
  <p-table (onLazyLoad)="load()"
           [lazy]="true"
           [loading]="loading"
           [paginator]="value.length > 0"
           [rowsPerPageOptions]="[10, 20, 30]"
           [rows]="10"
           [showCurrentPageReport]="true"
           [tableStyle]="{ 'min-width': '50rem' }"
           [totalRecords]="totalRecords"
           [value]="value"
           currentPageReportTemplate="{first} a {last} de {totalRecords}.">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">
          <span>Id</span>
          <p-sortIcon field="id"/>
        </th>
        <th pSortableColumn="title">
          <span>Nome</span>
          <p-sortIcon field="title"/>
        </th>
        <th pSortableColumn="price">
          <span>Preço</span>
          <p-sortIcon field="price"/>
        </th>
        <th pSortableColumn="category">
          <span>Categoria</span>
          <p-sortIcon field="category"/>
        </th>
        <th class="w-6rem">&nbsp;</th>
      </tr>
    </ng-template>
    <ng-template let-product pTemplate="body">
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.title }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.category }}</td>
        <td class="p-0">
          <p-button [routerLink]="product.id"
                    [text]="true"
                    icon="pi pi-pencil"/>
          <p-button (onClick)="remove(product.id)"
                    [text]="true"
                    icon="pi pi-trash"/>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" colspan="5">Sem registros.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
