<p-card header="Forma de Pagamento">
  <ec-radio-button-card (selectedValueChange)="onSelect($event)"
                        *ngFor="let method of PAYMENT_METHODS"
                        [(selectedValue)]="selected"
                        [inputId]="method"
                        [radioButtonValue]="method">
    <span ecTemplate="left">{{ method }}</span>
    <div [ngSwitch]="method" ecTemplate="right">
      <i *ngSwitchCase="CART_PAYMENT_METHOD.PIX" class="pi pi-money-bill"></i>
      <i *ngSwitchCase="CART_PAYMENT_METHOD.BANK_SLIP" class="pi pi-barcode"></i>
      <i *ngSwitchCase="CART_PAYMENT_METHOD.CREDIT_CARD" class="pi pi-credit-card"></i>
    </div>
  </ec-radio-button-card>
</p-card>
