<div class="h-full flex justify-content-center align-items-center">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <p-card header="Login">
      <ec-field inputId="email" label="Email">
        <input formControlName="email"
               id="email"
               maxlength="250"
               pInputText
               type="email"/>
      </ec-field>
      <ec-field inputId="password" label="Senha">
        <input formControlName="password"
               id="password"
               maxlength="250"
               pInputText
               type="password"/>
      </ec-field>
      <div class="mt-5">
        <p-button label="Login"
                  styleClass="w-full"
                  type="submit"/>
      </div>
    </p-card>
  </form>
</div>
