<div class="h-full flex justify-content-center align-items-center">
  <p-card header="Login">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="flex flex-column gap-2">
        <label for="email">Email</label>
        <input formControlName="email"
               id="email"
               maxlength="255"
               pInputText
               type="email"/>
      </div>
      <div class="flex flex-column gap-2 mt-3">
        <label for="password">Password</label>
        <input formControlName="password"
               id="password"
               maxlength="255"
               pInputText
               type="password"/>
      </div>
      <div class="flex flex-column gap-2 mt-5">
        <p-button label="Login"
                  styleClass="w-full"
                  type="submit"/>
      </div>
    </form>
  </p-card>
</div>
