<p-card header="Entrega">
  <div class="flex-card">
    <section *ngIf="user" class="line-height-3">
      <span class="font-semibold">Endereço:</span>
      <div>{{ user.address.street }} {{ user.address.number }}</div>
      <span>{{ user.address.city }} - {{ user.address.zipcode }}</span>
    </section>
    <p-button [text]="true"
              icon="pi pi-pencil"
              routerLink="/user"/>
  </div>

  <ec-radio-button-card (valueChange)="selectedChange.emit($event)"
                        *ngFor="let method of SHIPPING_METHODS"
                        [(value)]="selected"
                        [inputId]="method.name"
                        [ngClass]="{'p-disabled': SHIPPING_METHODS[1] === method}"
                        [radioButtonValue]="method.name">
    <div ecTemplate="left">
      <div>{{ method.name }}</div>
      <span class="text-sm">Chegará até {{ method.date | date }}</span>
    </div>
    <div class="font-semibold" ecTemplate="right">
      <span>{{ method.price > 0 ? (method.price | currency) : 'Grátis' }}</span>
    </div>
  </ec-radio-button-card>
</p-card>
