<div *ngIf="visible()"
     class="flex justify-content-between align-items-center w-full h-4rem fixed z-5 px-3 shadow-4 bg-primary text-white">
  <div class="flex align-items-center">
    <p-button (onClick)="toggleSidebar()"
              *ngIf="USER_TYPE.MANAGER === user?.type"
              [text]="true"
              icon="pi pi-bars"
              styleClass="text-white"/>
    <span class="text-2xl font-medium cursor-pointer" routerLink="/catalog">EasyCart</span>
  </div>
  <div>
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search text-white"/>
      <input (ngModelChange)="productSearchService.search($event)"
             [(ngModel)]="search"
             maxlength="50"
             pInputText
             placeholder="Pesquisar"
             type="text"/>
    </p-iconField>
    <app-product-search (onSelect)="search = ''"/>
  </div>
  <div>
    <p-menu #menu [model]="items" [popup]="true"/>
    <p-button (onClick)="enableDarkTheme = !enableDarkTheme"
              [text]="true"
              icon="pi {{enableDarkTheme ? 'pi-moon' : 'pi-sun'}}"
              styleClass="text-white"/>
    <p-button (onClick)="menu.toggle($event)"
              *ngIf="user"
              [label]="user.name.split(' ')[0]"
              [text]="true"
              icon="pi pi-user"
              styleClass="text-white"/>
    <p-button [badge]="cartSize.toString()"
              [text]="true"
              badgeClass="bg-white"
              icon="pi pi-shopping-cart"
              routerLink="cart"
              styleClass="w-4rem text-white"/>
  </div>
</div>
