html, body {
  margin: 0;
  height: 100dvh;
  background-color: var(--surface-ground);
  font-family: 'Poppins', sans-serif;
}

.sidebar-padding {
  transition: transform .3s;
  padding-left: 15rem;
}

app-navbar {
  input {
    background-color: color-mix(in srgb, var(--primary-color), white 10%);
    box-shadow: none;
    outline: none;
    border: none;
  }

  input, input::placeholder {
    color: white;
  }
}

.w-45-px {
  width: 45px;
}

.ec-card-header {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1.5rem 1.5rem 0 1.5rem;
}

.overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
