html, body {
  margin: 0;
  height: 100dvh;
  background-color: var(--surface-ground);
  font-family: 'Poppins', sans-serif;
}

.sidebar-padding {
  transition: transform .3s;
  padding-left: 15rem;
}

app-navbar {
  input {
    background-color: color-mix(in srgb, var(--primary-color), white 10%);
    box-shadow: none;
    outline: none;
    border: none;
  }

  input, input::placeholder {
    color: white;
  }
}

.w-45-px {
  width: 45px;
}

.overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.flex-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--border-radius);
  border-color: var(--surface-border);
  padding: 1rem;
  margin-top: 1rem;
}
