<p-card *ngIf="product" [header]="product.title">
  <ec-header-actions>
    <div ecTemplate="left">
      <p-button [text]="true"
                icon="pi pi-arrow-left"
                routerLink="/catalog"/>
    </div>
  </ec-header-actions>

  <div class="flex flex-wrap xl:flex-nowrap">
    <div class="text-center sm:text-left w-full lg:w-auto">
      <div class="flex align-items-center gap-1 py-2">
        <i class="pi pi-tag"></i>
        <span class="text-sm text-600">{{ product.category }}</span>
      </div>
      <p-image [alt]="product.title"
               [preview]="true"
               [src]="product.image"
               styleClass="border-1 surface-border border-round"
               width="350"/>
    </div>
    <div class="flex flex-column justify-content-between p-0 pt-2 xl:pt-5 xl:pl-3 xl:pb-1 w-full">
      <div [title]="product.description" class="text-base">{{ product.description }}</div>
      <div class="flex justify-content-between xl:justify-content-start align-items-end gap-5">
        <ec-field inputId="quantity" label="Quantidade">
          <p-inputNumber [(ngModel)]="product.quantity"
                         [max]="10"
                         [min]="1"
                         [prefix]="product.quantity! < 10 ? '0' : ''"
                         [showButtons]="true"
                         buttonLayout="horizontal"
                         decrementButtonIcon="pi pi-minus"
                         incrementButtonIcon="pi pi-plus"
                         inputId="quantity"
                         inputStyleClass="w-45-px"/>
        </ec-field>
        <div class="flex flex-column align-items-end">
          <span class="text-lg font-semibold py-2">{{ product.price | currency }}</span>
          <p-button (onClick)="addToCart()"
                    [outlined]="true"
                    icon="pi pi-shopping-cart"
                    label="Comprar"
                    styleClass="w-12rem"/>
        </div>
      </div>
    </div>
  </div>
</p-card>
